.ProductCard-card {
    background-color: rgb(234, 231, 231);
    box-shadow: 0 1px 4px 0 grey;
    min-width: 250px;
    width: auto;
    max-height: fit-content;
    margin: 50px 20px;
    border-radius: 20px 20px 0px 0px;
    padding-top: 35px;
  }
  
  .ProductCard-card:hover {
    box-shadow: 0 3px 8px 0 grey;  
  }
  
  .ProductCard-content {
    padding: 20px 16px;
  }
  
  .ProductCard-description {
    padding-top: 10px;
    height: 140px;
    overflow: hidden;
    text-align: justify;
    font-size: 15px;
  }
  
  .ProductCard-card h3, h6 {
    text-align: center;
  }
  

  .slider-container {
    justify-content: center; 
    align-items: center;     
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;        
  }
  
  .ProductCard-card-slider-img {
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    overflow: hidden;
    width: 350px;
    height: 350px;
    margin: auto;
  }
  
  .slider-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  